h1,
h2,
h3,
h4,
h5,
h6,
span,
td,
tr,
th,
*,
p {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h2 {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

h6 {
  font-family: "Sen", sans-serif !important;
  font-weight: 500 !important;
}
