@import "./assets/global";

.container {
  padding: 30px 78px;
}

.MuiButton-contained {
  background-color: red;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 34px;
}

.desc-para {
  line-height: 1.8;
}

.footer-info {
  padding: 50px 78px;
}

// giving any string in class name css advanced

div[class^="makeStyles-paper"],
div[class*=" makeStyles-paper"] {
  width: 680px;
}

.form {
  input {
    margin: 10px 0;
    height: 10px;
    padding: 10px;
    width: 50%;
  }

  label {
    margin-right: 24px;
    text-align: left;
    padding: 0.5em 1.5em 0.5em 0;
  }

  .checkboxCustom {
    width: 680px !important;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 10px;
  }
}

.submit-cnt {
  display: flex;
  justify-content: center;
  margin: 48px 0 12px 0;
}

.simple-modal-title {
  text-align: center;
}
