// IMPORTING SCSS PARTIAL FILES FOR BETTER CSS ARCHITECTURE
@import "./assets/styles/global";
@import "./assets/styles/form";

.container {
  padding: 30px 78px;
}

.MuiButton-contained {
  background-color: red;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 34px;
}

.desc-para {
  line-height: 1.8;
}

.footer-info {
  padding: 50px 78px;
}

// DYNAMIC STYLES WHICH TAKE FIRST PART OF CLASSNAME AND ATTACHES IT TO ANY TEXT THAT FOLLOWS

div[class^="makeStyles-paper"],
div[class*=" makeStyles-paper"] {
  width: 680px;
}

.submit-cnt {
  display: flex;
  justify-content: center;
  margin: 48px 0 12px 0;
}

.simple-modal-title {
  text-align: center;
}
