// CSS FOR FORM INSIDE MODAL

.form {
  input {
    margin: 10px 0;
    height: 10px;
    padding: 10px;
    width: 50%;
  }

  label {
    margin-right: 24px;
    text-align: left;
    padding: 0.5em 1.5em 0.5em 0;
  }

  .checkboxCustom {
    width: 680px !important;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 10px;
  }
}
